<a href="https://colab.research.google.com/github/GauravBFG10K/Global-Terrorism---EDA/blob/main/Global_Terrorism_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [112]:
import pandas as pd
import numpy as np

In [113]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [114]:
file_path = '/content/drive/MyDrive/Data Science/EDA Capstone Project/'
df = pd.read_csv(file_path + 'Global Terrorism Data.csv', encoding='latin-1')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Data Exploration : Here we will read and try to understand the data set carefully.

In [115]:
df.head()

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN

[5 rows x 135 columns]

In [116]:
df.tail()

             eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
181686  201712310022   2017      12    31  ...        0         0       0      NaN
181687  201712310029   2017      12    31  ...       -9         1       1      NaN
181688  201712310030   2017      12    31  ...        0         0       0      NaN
181689  201712310031   2017      12    31  ...       -9         0      -9      NaN
181690  201712310032   2017      12    31  ...       -9         0      -9      NaN

[5 rows x 135 columns]

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [118]:
df.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [119]:
df.dtypes

eventid        int64
iyear          int64
imonth         int64
iday           int64
approxdate    object
               ...
INT_LOG        int64
INT_IDEO       int64
INT_MISC       int64
INT_ANY        int64
related       object
Length: 135, dtype: object

Data Handling: We will create dataframes which we require for analysis from the features available in the dataset. Also, we will perform handling of data which are showing Null/NaN/Missing values.

In [120]:
#Checking for null values in the dataframe
miss_data = df.isnull()
miss_data.head(5)

   eventid  iyear  imonth   iday  ...  INT_IDEO  INT_MISC  INT_ANY  related
0    False  False   False  False  ...     False     False    False     True
1    False  False   False  False  ...     False     False    False     True
2    False  False   False  False  ...     False     False    False     True
3    False  False   False  False  ...     False     False    False     True
4    False  False   False  False  ...     False     False    False     True

[5 rows x 135 columns]

From the above operation, we find that there are several columns that have significantly large number of null values present.

In [121]:
#Here we have dropped column with the NaN values which are significantly high (more than 50%)
df = df.dropna(axis=1, thresh = 181690/2)
df.head()

        eventid  iyear  imonth  iday  ...  INT_LOG  INT_IDEO INT_MISC  INT_ANY
0  197000000001   1970       7     2  ...        0         0        0        0
1  197000000002   1970       0     0  ...        0         1        1        1
2  197001000001   1970       1     0  ...       -9        -9        1        1
3  197001000002   1970       1     0  ...       -9        -9        1        1
4  197001000003   1970       1     0  ...       -9        -9        1        1

[5 rows x 58 columns]

Now we can see we are left with 58 columns which will show non-null data to the user.

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 58 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   eventid           181691 non-null  int64
 1   iyear             181691 non-null  int64
 2   imonth            181691 non-null  int64
 3   iday              181691 non-null  int64
 4   extended          181691 non-null  int64
 5   country           181691 non-null  int64
 6   country_txt       181691 non-null  object
 7   region            181691 non-null  int64
 8   region_txt        181691 non-null  object
 9   provstate         181270 non-null  object
 10  city              181257 non-null  object
 11  latitude          177135 non-null  float64
 12  longitude         177134 non-null  float64
 13  specificity       181685 non-null  float64
 14  vicinity          181691 non-null  int64
 15  summary           115562 non-null  object
 16  crit1             181691 non-null  int64
 17  crit2             181691 non-null  int64
 18  crit3             181691 non-null  int64
 19  doubtterr         181690 non-null  float64
 20  multiple          181690 non-null  float64
 21  success           181691 non-null  int64
 22  suicide           181691 non-null  int64
 23  attacktype1       181691 non-null  int64
 24  attacktype1_txt   181691 non-null  object
 25  targtype1         181691 non-null  int64
 26  targtype1_txt     181691 non-null  object
 27  targsubtype1      171318 non-null  float64
 28  targsubtype1_txt  171318 non-null  object
 29  corp1             139141 non-null  object
 30  target1           181055 non-null  object
 31  natlty1           180132 non-null  float64
 32  natlty1_txt       180132 non-null  object
 33  gname             181691 non-null  object
 34  guncertain1       181311 non-null  float64
 35  individual        181691 non-null  int64
 36  nperps            110576 non-null  float64
 37  nperpcap          112202 non-null  float64
 38  claimed           115571 non-null  float64
 39  weaptype1         181691 non-null  int64
 40  weaptype1_txt     181691 non-null  object
 41  weapsubtype1      160923 non-null  float64
 42  weapsubtype1_txt  160923 non-null  object
 43  weapdetail        114021 non-null  object
 44  nkill             171378 non-null  float64
 45  nkillus           117245 non-null  float64
 46  nkillter          114733 non-null  float64
 47  nwound            165380 non-null  float64
 48  nwoundus          116989 non-null  float64
 49  nwoundte          112548 non-null  float64
 50  property          181691 non-null  int64
 51  ishostkid         181513 non-null  float64
 52  scite1            115500 non-null  object
 53  dbsource          181691 non-null  object
 54  INT_LOG           181691 non-null  int64
 55  INT_IDEO          181691 non-null  int64
 56  INT_MISC          181691 non-null  int64
 57  INT_ANY           181691 non-null  int64
dtypes: float64(19), int64(22), object(17)
memory usage: 80.4+ MB

In [123]:
#Now, we will eliminate the NaN values from numerical columns
num_col = df.select_dtypes(include=['number']).columns

In [124]:
df[num_col]=df[num_col].fillna(0)
df.head(10)

        eventid  iyear  imonth  iday  ...  INT_LOG  INT_IDEO INT_MISC  INT_ANY
0  197000000001   1970       7     2  ...        0         0        0        0
1  197000000002   1970       0     0  ...        0         1        1        1
2  197001000001   1970       1     0  ...       -9        -9        1        1
3  197001000002   1970       1     0  ...       -9        -9        1        1
4  197001000003   1970       1     0  ...       -9        -9        1        1
5  197001010002   1970       1     1  ...       -9        -9        0       -9
6  197001020001   1970       1     2  ...        0         0        0        0
7  197001020002   1970       1     2  ...       -9        -9        0       -9
8  197001020003   1970       1     2  ...        0         0        0        0
9  197001030001   1970       1     3  ...        0         0        0        0

[10 rows x 58 columns]

We can handle the categorical missing values by providing a new category known as "Unknown", to fill in the void.

In [125]:
cat_col = df.select_dtypes(include=['object']).columns
df[cat_col]=df[cat_col].fillna("Unknown")
df.head(10)

        eventid  iyear  imonth  iday  ...  INT_LOG  INT_IDEO INT_MISC  INT_ANY
0  197000000001   1970       7     2  ...        0         0        0        0
1  197000000002   1970       0     0  ...        0         1        1        1
2  197001000001   1970       1     0  ...       -9        -9        1        1
3  197001000002   1970       1     0  ...       -9        -9        1        1
4  197001000003   1970       1     0  ...       -9        -9        1        1
5  197001010002   1970       1     1  ...       -9        -9        0       -9
6  197001020001   1970       1     2  ...        0         0        0        0
7  197001020002   1970       1     2  ...       -9        -9        0       -9
8  197001020003   1970       1     2  ...        0         0        0        0
9  197001030001   1970       1     3  ...        0         0        0        0

[10 rows x 58 columns]

Gaining Insights : Now that we have made the data more comprehensive, we can proceed with the analysis.

In [126]:
#We check the correlation among the variables
df.corr()

               eventid     iyear    imonth  ...  INT_IDEO  INT_MISC   INT_ANY
eventid       1.000000  0.999996  0.002706  ... -0.133252 -0.077852 -0.175605
iyear         0.999996  1.000000  0.000139  ... -0.133253 -0.077847 -0.175596
imonth        0.002706  0.000139  1.000000  ... -0.002034 -0.002554 -0.006336
iday          0.018336  0.018254  0.005497  ... -0.001621 -0.002027 -0.001199
extended      0.091761  0.091754 -0.000468  ...  0.075147  0.027335  0.080767
country      -0.135039 -0.135023 -0.006305  ...  0.067564  0.207281  0.153118
region        0.401371  0.401384 -0.002999  ... -0.071917  0.043139 -0.047900
latitude      0.186302  0.186348 -0.014956  ... -0.101276  0.094142 -0.050201
longitude     0.003797  0.003807 -0.003832  ...  0.002257  0.000361  0.002486
specificity   0.030618  0.030603  0.003621  ...  0.071313 -0.019202  0.061374
vicinity      0.070646  0.070659 -0.004501  ...  0.015119 -0.008232  0.010325
crit1         0.002019  0.001995  0.001568  ...  0.089888  0.015692  0.082288
crit2         0.026215  0.026211  0.001734  ... -0.023829 -0.012980 -0.027752
crit3        -0.016789 -0.016784  0.000176  ... -0.138251 -0.036112 -0.130216
doubtterr     0.298888  0.298921 -0.012478  ...  0.231788  0.022373  0.168945
multiple      0.093718  0.093734 -0.004420  ...  0.126014 -0.027084  0.095021
success      -0.082972 -0.082963 -0.002845  ...  0.059183 -0.014906  0.038245
suicide       0.137743  0.137736  0.003071  ...  0.065882 -0.000879  0.057241
attacktype1   0.074173  0.074153  0.006705  ...  0.077225  0.010632  0.088711
targtype1     0.079080  0.079082 -0.000948  ... -0.058010 -0.043492 -0.054497
targsubtype1  0.032065  0.032060  0.002102  ... -0.005313 -0.022303 -0.015876
natlty1      -0.022956 -0.022941 -0.004629  ...  0.053989  0.242789  0.140123
guncertain1   0.040570  0.040579 -0.004422  ...  0.238539 -0.004893  0.210713
individual    0.017939  0.017944 -0.001661  ... -0.048542  0.005490 -0.037488
nperps       -0.209487 -0.209509  0.008665  ...  0.028747  0.011083  0.038011
nperpcap      0.083158  0.083120  0.015034  ...  0.009932  0.014328  0.014664
claimed       0.074702  0.074661  0.018363  ...  0.132856  0.006353  0.118117
weaptype1    -0.011716 -0.011737  0.007863  ...  0.074702 -0.011652  0.084257
weapsubtype1  0.138300  0.138308 -0.002528  ... -0.131592  0.002245 -0.128024
nkill         0.021263  0.021252  0.004031  ...  0.077393 -0.014647  0.062418
nkillus      -0.001484 -0.001492  0.003122  ...  0.004296  0.002520  0.005551
nkillter      0.072794  0.072788  0.002720  ...  0.074130 -0.004087  0.065299
nwound        0.017492  0.017484  0.003178  ...  0.012222 -0.004327  0.007261
nwoundus     -0.005377 -0.005380  0.001182  ...  0.001435  0.004826  0.003354
nwoundte      0.047720  0.047710  0.004041  ...  0.044474 -0.004281  0.039704
property     -0.278927 -0.278916 -0.005816  ...  0.047609  0.022058  0.065701
ishostkid    -0.009890 -0.009904  0.003397  ...  0.036800  0.017456  0.043490
INT_LOG      -0.143600 -0.143601 -0.002302  ...  0.996211  0.052537  0.891051
INT_IDEO     -0.133252 -0.133253 -0.002034  ...  1.000000  0.082014  0.893811
INT_MISC     -0.077852 -0.077847 -0.002554  ...  0.082014  1.000000  0.252193
INT_ANY      -0.175605 -0.175596 -0.006336  ...  0.893811  0.252193  1.000000

[41 rows x 41 columns]

In [151]:
#Counting the number of terrorism incidents
df['country_txt'].value_counts()

Iraq                   24636
Pakistan               14368
Afghanistan            12731
India                  11960
Colombia                8306
                       ...
International              1
Wallis and Futuna          1
South Vietnam              1
Andorra                    1
Antigua and Barbuda        1
Name: country_txt, Length: 205, dtype: int64

According to this data, we find that Iraq has the most number of terror incidents followed by Pakistan, Afghanistan, India and Colombia as the top five.

In [159]:
dfc = df['country_txt'].value_counts().to_frame()
dfc.rename(columns={'country_txt': 'valcounts'}, inplace=True)
dfc.index.name = 'Country'
dfc

                     valcounts
Country
Iraq                     24636
Pakistan                 14368
Afghanistan              12731
India                    11960
Colombia                  8306
...                        ...
International                1
Wallis and Futuna            1
South Vietnam                1
Andorra                      1
Antigua and Barbuda          1

[205 rows x 1 columns]

According to this data, we find that Bombing/Explosion is the most frequent attack type.

In [163]:
dfa = df['attacktype1_txt'].value_counts().to_frame()
dfa.rename(columns={'attacktype1_txt': 'valcounts'}, inplace=True)
dfa.index.name = 'attacktype'
dfa

                                     valcounts
attacktype
Bombing/Explosion                        88255
Armed Assault                            42669
Assassination                            19312
Hostage Taking (Kidnapping)              11158
Facility/Infrastructure Attack           10356
Unknown                                   7276
Unarmed Assault                           1015
Hostage Taking (Barricade Incident)        991
Hijacking                                  659