<a href="https://colab.research.google.com/github/GauravBFG10K/Global-Terrorism---EDA/blob/main/Global_Terrorism_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
import pandas as pd
import numpy as np

In [90]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [91]:
file_path = '/content/drive/MyDrive/Data Science/EDA Capstone Project/'
df = pd.read_csv(file_path + 'Global Terrorism Data.csv', encoding='latin-1')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Data Exploration : Here we will read and try to understand the data set carefully.

In [92]:
df.head()

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN

[5 rows x 135 columns]

In [93]:
df.tail()

             eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
181686  201712310022   2017      12    31  ...        0         0       0      NaN
181687  201712310029   2017      12    31  ...       -9         1       1      NaN
181688  201712310030   2017      12    31  ...        0         0       0      NaN
181689  201712310031   2017      12    31  ...       -9         0      -9      NaN
181690  201712310032   2017      12    31  ...       -9         0      -9      NaN

[5 rows x 135 columns]

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB

In [95]:
df.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [96]:
df.dtypes

eventid        int64
iyear          int64
imonth         int64
iday           int64
approxdate    object
               ...
INT_LOG        int64
INT_IDEO       int64
INT_MISC       int64
INT_ANY        int64
related       object
Length: 135, dtype: object

Data Handling: We will create dataframes which we require for analysis from the features available in the dataset. Also, we will perform handling of data which are showing Null/NaN/Missing values.

In [97]:
#Checking for null values in the dataframe
miss_data = df.isnull()
miss_data.head(5)

   eventid  iyear  imonth   iday  ...  INT_IDEO  INT_MISC  INT_ANY  related
0    False  False   False  False  ...     False     False    False     True
1    False  False   False  False  ...     False     False    False     True
2    False  False   False  False  ...     False     False    False     True
3    False  False   False  False  ...     False     False    False     True
4    False  False   False  False  ...     False     False    False     True

[5 rows x 135 columns]

From the above operation, we find that there are several columns that have significantly large number of null values present.

In [98]:
#Here we have dropped column with the NaN values which are significantly high (more than 50%)
df = df.dropna(axis=1, thresh = 181690/2)
df.head()

        eventid  iyear  imonth  iday  ...  INT_LOG  INT_IDEO INT_MISC  INT_ANY
0  197000000001   1970       7     2  ...        0         0        0        0
1  197000000002   1970       0     0  ...        0         1        1        1
2  197001000001   1970       1     0  ...       -9        -9        1        1
3  197001000002   1970       1     0  ...       -9        -9        1        1
4  197001000003   1970       1     0  ...       -9        -9        1        1

[5 rows x 58 columns]

Now we can see we are left with 58 columns which will show non-null data to the user.

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 58 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   eventid           181691 non-null  int64
 1   iyear             181691 non-null  int64
 2   imonth            181691 non-null  int64
 3   iday              181691 non-null  int64
 4   extended          181691 non-null  int64
 5   country           181691 non-null  int64
 6   country_txt       181691 non-null  object
 7   region            181691 non-null  int64
 8   region_txt        181691 non-null  object
 9   provstate         181270 non-null  object
 10  city              181257 non-null  object
 11  latitude          181691 non-null  float64
 12  longitude         181691 non-null  float64
 13  specificity       181691 non-null  float64
 14  vicinity          181691 non-null  int64
 15  summary           115562 non-null  object
 16  crit1             181691 non-null  int64
 17  crit2             181691 non-null  int64
 18  crit3             181691 non-null  int64
 19  doubtterr         181691 non-null  float64
 20  multiple          181691 non-null  float64
 21  success           181691 non-null  int64
 22  suicide           181691 non-null  int64
 23  attacktype1       181691 non-null  int64
 24  attacktype1_txt   181691 non-null  object
 25  targtype1         181691 non-null  int64
 26  targtype1_txt     181691 non-null  object
 27  targsubtype1      181691 non-null  float64
 28  targsubtype1_txt  171318 non-null  object
 29  corp1             139141 non-null  object
 30  target1           181055 non-null  object
 31  natlty1           181691 non-null  float64
 32  natlty1_txt       180132 non-null  object
 33  gname             181691 non-null  object
 34  guncertain1       181691 non-null  float64
 35  individual        181691 non-null  int64
 36  nperps            181691 non-null  float64
 37  nperpcap          181691 non-null  float64
 38  claimed           181691 non-null  float64
 39  weaptype1         181691 non-null  int64
 40  weaptype1_txt     181691 non-null  object
 41  weapsubtype1      181691 non-null  float64
 42  weapsubtype1_txt  160923 non-null  object
 43  weapdetail        114021 non-null  object
 44  nkill             181691 non-null  float64
 45  nkillus           181691 non-null  float64
 46  nkillter          181691 non-null  float64
 47  nwound            181691 non-null  float64
 48  nwoundus          181691 non-null  float64
 49  nwoundte          181691 non-null  float64
 50  property          181691 non-null  int64
 51  ishostkid         181691 non-null  float64
 52  scite1            115500 non-null  object
 53  dbsource          181691 non-null  object
 54  INT_LOG           181691 non-null  int64
 55  INT_IDEO          181691 non-null  int64
 56  INT_MISC          181691 non-null  int64
 57  INT_ANY           181691 non-null  int64
dtypes: float64(19), int64(22), object(17)
memory usage: 80.4+ MB

In [102]:
#Now, we will eliminate the NaN values from numerical columns
num_col = df.select_dtypes(include=['number']).columns

In [103]:
df[num_col]=df[num_col].fillna(0)
df.head(10)

        eventid  iyear  imonth  iday  ...  INT_LOG  INT_IDEO INT_MISC  INT_ANY
0  197000000001   1970       7     2  ...        0         0        0        0
1  197000000002   1970       0     0  ...        0         1        1        1
2  197001000001   1970       1     0  ...       -9        -9        1        1
3  197001000002   1970       1     0  ...       -9        -9        1        1
4  197001000003   1970       1     0  ...       -9        -9        1        1
5  197001010002   1970       1     1  ...       -9        -9        0       -9
6  197001020001   1970       1     2  ...        0         0        0        0
7  197001020002   1970       1     2  ...       -9        -9        0       -9
8  197001020003   1970       1     2  ...        0         0        0        0
9  197001030001   1970       1     3  ...        0         0        0        0

[10 rows x 58 columns]